<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tennis Scoreboard | Match Score</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{../../static/css/style.css?v=1}">

    <script src="../../static/js/app.js" th:src="@{../../static/js/app.js?v=1}"></script>
</head>
<body>
    <header class="header">
        <section class="nav-header">
            <div class="brand">
                <div class="nav-toggle">
                    <img src="../../static/images/menu.png" th:src="@{../../static/images/menu.png}" alt="Logo" class="logo">
                </div>
                <span class="logo-text">TennisScoreboard</span>
            </div>
            <div>
                <nav class="nav-links">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="#">Matches</a>
                </nav>
            </div>
        </section>
    </header>
    <main>
        <div class="container">
            <h1>Current match</h1>
            <div class="current-match-image"></div>
            <section class="score">
                <table class="table">
                    <thead class="result">
                    <tr>
                        <th class="table-text">Player</th>
                        <th class="table-text">Sets</th>
                        <th class="table-text">Games</th>
                        <th class="table-text">Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="player1">
                        <td class="table-text" th:text="${match.getFirstPlayer().getName()}">Unknown</td>
                        <td class="table-text" th:text="${firstPlayer.getSets()}">0</td>
                        <td class="table-text" th:text="${firstPlayer.getGames()}">0</td>
                        <td class="table-text" th:text="${firstPlayer.getPoints()}">0</td>
                        <td class="table-text">
                            <form action="#" method="post">
                                <input hidden="hidden" name="matchId" th:value="${match.getId()}"/>
                                <input hidden="hidden" name="playerId" th:value="${match.getFirstPlayer().getId()}"/>
                                <button type="submit" class="score-btn">Score</button>
                            </form>
                        </td>
                    </tr>
                    <tr class="player2">
                        <td class="table-text" th:text="${match.getSecondPlayer().getName()}">Unknown</td>
                        <td class="table-text" th:text="${secondPlayer.getSets()}">0</td>
                        <td class="table-text" th:text="${secondPlayer.getGames()}">0</td>
                        <td class="table-text" th:text="${secondPlayer.getPoints()}">0</td>
                        <td class="table-text">
                            <form action="#" method="post">
                                <input hidden="hidden" name="matchId" th:value="${match.getId()}"/>
                                <input hidden="hidden" name="playerId" th:value="${match.getSecondPlayer().getId()}"/>
                                <button type="submit" class="score-btn">Score</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </main>
</body>
</html>
